// STYLES.SCSS < HAUPTDATEI

// SETTINGS 
@use 'settings/color-scheme';
@use 'settings/mixins';
@use 'settings/spacing';
@use 'settings/typography';
@use 'settings/fonts';

// BASE 
@use 'base/reset';
@use 'base/basic';

// LAYOUT 
@use 'layout/layout';

// COMPONENTS 
@use 'components/hero';
@use 'components/slider';
@use 'components/sections';
@use 'components/cards';
@use 'components/form';
@use 'components/table';
@use 'components/section-title';

// ANIMATIONS 
@use 'animations/animations';

// RESPONSIVE
@use 'responsive/responsive';